<html>
<head>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
</head>
<body>
<h2>Telefonos Utiles</h2>

<table>
  <tr>
    <th>Club</th>
    <th>Nombre</th>
    <th>Profesion</th>
    <th>Telefono</th>
  </tr>
  <tr>
    <td>Gimnasia</td>
    <td>Nico Perez</td>
    <td>Jugador</td>
    <td>2216281787</td>
  </tr>
</table>

</body>
</html>
