
<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <!-- Area Chart Example-->
      <div class="jumbotron text-center">
        <h1>A.C.BETO AVALOS</h1>
      </div>
        <!-- Example Bar Chart Card-->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-bar-chart"></i>Estadisticas de Ingresos/Pagos</div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-8 my-auto">
                <app-jugador></app-jugador>
              </div>
              <div class="col-sm-4 text-center my-auto">
                <div class="h4 mb-0 text-danger">$34,693</div>
                <div class="small text-muted">Pagos Jugadores</div>
                <hr>
                <div class="h4 mb-0 text-info">$18,474</div>
                <div class="small text-muted">Sponsors</div>
                <hr>
                <div class="h4 mb-0 text-warning">$16,219</div>
                <div class="small text-muted">Ingresos Partidos</div>
              </div>
            </div>
          </div>
          <div class="card-footer small text-muted">Actualizado Hace 1 hora</div>
        </div>
        <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-bar-chart"></i>Estadisticas de Gastos</div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-8 my-auto">
                <app-jugador></app-jugador>
              </div>
              <div class="col-sm-4 text-center my-auto">
                <div class="h4 mb-0 text-primary">$34,693</div>
                <div class="small text-muted">Gastos Generales</div>
                <hr>
                <div class="h4 mb-0 text-warning">$18,474</div>
                <div class="small text-muted">Arbitros y Medicos</div>
                <hr>
                <div class="h4 mb-0 text-success">$16,219</div>
                <div class="small text-muted">Gastos de Micros</div>
              </div>
            </div>
          </div>
          <div class="card-footer small text-muted">Actualizado Hace 1 hora</div>
        </div>
    <!-- Example DataTables Card-->

  <!-- /.container-fluid-->
</div>
