<html>
<head>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
</head>
<body>
<h2>Categoria 1995</h2>

<table>
  <tr>
    <th>N° Socio</th>
    <th>Nombre</th>
    <th>Monto</th>
    <th>Mes</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Maria Anders</td>
    <td>380</td>
    <td>Enero</td>
  </tr>

</table>

</body>
</html>
