      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Gastos Generales</div>
        <div class="card-body">
          <div class="table-responsive">
              <div class="btn-group">
                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mes: Enero
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
              </div>
              <br>
              <br>
               <div><i class="fa fa-table"></i> Agregar Datos</div>
               <br>
               <form class="form-header">
                <div class="form-row">
                  <div class="col-6">
                    <input type="text" class="form-control" placeholder="Nombre">
                  </div>
                  <br>
                  <br>
                  <br>
                  <div class="col-6">
                    <input type="text" class="form-control" placeholder="Trabajo">
                  </div>
                  <br>
                  <br>
                  <br>
                  <div class="col-6">
                    <input type="text" class="form-control" placeholder="Monto">
                  </div>
                </div>
                <br>
                <br>
                <br>
                 <button type="button" class="btn btn-outline-success">Confirmar</button>
               </form>
               <br>
               <br>
               <div class="table-responsive">
               <table class="table">
                  <thead class="thead-dark">
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Trabajo Realizado</th>
                  <th scope="col">Monto Trabajo</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let rec of gastos">
                      <td>{{rec?.nombre}}</td>
                      <td>{{rec?.trabajor}}</td>
                      <td>{{rec?.monto}}</td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
      </div>
