      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Gastos Generales</div>
        <div class="card-body">
          <div class="table-responsive">
              <div class="btn-group">
                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mes: Enero
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
              </div>
              <br>
              <br>
               <div><i class="fa fa-table"></i> Agregar Datos</div>
               <br>
               <form class="form-header" action="/action_page.php">
                <label for="nombre">Nombre</label>
                <input type="nombre" class="form-control" id="Destino">
                <label for="apellido">Trabajo Realizado</label>
                <input type="apellido" class="form-control" id="Monto">
                <label for="apellido">Monto Trabajo</label>
                <input type="apellido" class="form-control" id="Monto">
                <div class="form-check">
                </div>
                 <button type="button" class="btn btn-outline-success">Confirmar</button>
               </form>
               <br>
               <br>
               <div class="table-responsive">
               <table class="table">
                  <thead class="thead-dark">
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Trabajo Realizado</th>
                  <th scope="col">Monto Trabajo</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <th class="col-xs-3">1</th>
                    <td>Pintura</td>
                    <td>1.500</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Alambrado</td>
                    <td>1.500</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Limpieza</td>
                    <td>2.000</td>
                  </tr>
                  <tr>
                      <th scope="row">Total</th>
                      <td colspan="1"></td>
                      <td>5.000</td>
                    </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
      </div>

    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>