<html>
<head>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
</head>
<body>
<h2>Gastos Generales</h2>

<table>
  <tr>
    <th>Trabajo Realizado</th>
    <th>Monto</th>
  </tr>
  <tr>
    <td>Pintura</td>
    <td>500</td>
  </tr>
  <tr>
    <td>Alambrado</td>
    <td>500</td>
  </tr>
</table>

</body>
</html>

