        <!-- Breadcrumbs-->
        <!-- Example DataTables Card-->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-table"></i> Sponsors y Subsidios</div>
           <div class="dropdown-menu">
          </div>
          <div class="card-body">
            <div class="table-responsive">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Mes: Enero
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Febrero</a></li>
                      <li><a class="dropdown-item" href="#">Marzo</a></li>
                      <li><a class="dropdown-item" href="#">Abril</a></li>
                    </ul>
                </div>
                <br>
                <br>
                 <div><i class="fa fa-table"></i> Agregar Sponsor</div>
                 <br>
                 <form class="form-header" action="/action_page.php">
                  <label for="nombre">Nombre sponsor</label>
                  <input type="nombre" class="form-control" id="Estacionamiento">
                  <label for="apellido">Monto Parcial</label>
                  <input type="nombre" class="form-control" id="Entradas">
                  <label for="apellido">Monto</label>
                  <input type="nombre" class="form-control" id="Entradas">
                  <label for="apellido">Subsidio monto</label>
                  <input type="nombre" class="form-control" id="Entradas">
                  <div class="form-check">
                  </div>
                   <div class="form-check">
                   </div>
                   <button type="button" class="btn btn-outline-success">Confirmar</button>
                 </form>
                 <br>
                 <br>
                 <table class="table">
                    <thead class="thead-dark">
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Monto Parcial</th>
                    <th scope="col">Monto</th>
                  </tr>
                </thead>
                <tfoot>
                </tfoot>
                <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Mark</td>
                      <td>Mark</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Mark</td>
                      <td>Mark</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Mark</td>
                        <td>Mark</td>
                      </tr>
                      <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Mark</td>
                          <td>Mark</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Mark</td>
                            <td>Mark</td>
                          </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Larry</td>
                      <td>Mark</td>
                      <td>Mark</td>
                    </tr>
                    <tr>
                        <th scope="row">Total</th>
                        <td>5.000</td>
                        <td>Mark</td>
                        <td>Mark</td>
                      </tr>
                  </tbody>
                </table>
            </div>
          </div>
        </div>

      <!-- /.container-fluid-->
      <!-- /.content-wrapper-->
      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
      </a>
      <!-- Logout Modal-->