<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
    <ul class="nav-link" href="index.html">
      <i class="fa fa-fw fa-dashboard"></i>
      <span routerLink="/" >Inicio</span>
    </ul>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="gastosgenerales">
    <ul class="nav-link" href="gastosgenerales.html">
      <i class="fa fa-fw fa-area-chart"></i>
      <span routerLink="/gastosgenerales" >Gastos Generales</span>
    </ul>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="pagosjugadores">
    <ul class="nav-link" href="pagosjugadores.html">
      <i class="fa fa-fw fa-table"></i>
      <span routerLink="/pagosjugadores" >Pagos Jugadores</span>
    </ul>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="ingresopartido">
    <ul class="nav-link" href="ingresopartido.html">
      <i class="fa fa-fw fa-wrench"></i>
      <span routerLink="/ingresopartido" >Ingresos de Partidos</span>
    </ul>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="gastosmicro">
    <ul class="nav-link" href="gastosmicro.html">
      <i class="fa fa-fw fa-area-chart"></i>
      <span routerLink="/gastosmicro" >Gastos de Micros</span>
    </ul>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="arbitrosmedicos">
      <ul class="nav-link" href="arbitrosmedicos.html">
        <i class="fa fa-fw fa-link"></i>
        <span routerLink="/arbitrosmedicos" >Arbitros y Micros</span>
      </ul>
    </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="sponsors">
    <ul class="nav-link" href="sponsors.html">
      <i class="fa fa-fw fa-link"></i>
      <span routerLink="/sponsors" >Sponsors y Subsidios</span>
    </ul>
  </li>
  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="telefonos">
    <ul class="nav-link" href="telefonos.html">
      <i class="fa fa-fw fa-link"></i>
      <span routerLink="/telefonos" >Telefonos Utiles</span>
    </ul>
  </li>
</ul>     


