<html>
  <body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <app-header></app-header>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Gastos Arbitros y Medicos</div>
        <div class="card-body">
          <div class="table-responsive">
              <div class="btn-group">
                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mes: Enero
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Febrero</a>
                    <a class="dropdown-item" href="#">Marzo</a>
                    <a class="dropdown-item" href="#">Abril</a>
                  </div>
              </div>
              <div class="btn-group">
                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Semana: 1
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Febrero</a>
                    <a class="dropdown-item" href="#">Marzo</a>
                    <a class="dropdown-item" href="#">Abril</a>
                  </div>
              </div>
              <div class="btn-group">
                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Liga: LIFIPA
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Febrero</a>
                    <a class="dropdown-item" href="#">Marzo</a>
                    <a class="dropdown-item" href="#">Abril</a>
                  </div>
              </div>
              <br>
              <br>
               <div><i class="fa fa-table"></i> Agregar Montos</div>
               <br>
               <form class="form-header" action="/action_page.php">
                <label for="nombre">Monto Arbitros</label>
                <input type="nombre" class="form-control" id="Destino">
                <label for="apellido">Monto Medicos</label>
                <input type="apellido" class="form-control" id="Monto">
                 <div class="form-check">
                 </div>
                 <button type="button" class="btn btn-outline-success">Confirmar</button>
               </form>
               <br>
               <br>
               <table class="table">
                  <thead class="thead-dark">
                <tr>
                  <th scope="col">Monto Arbitros</th>
                  <th scope="col">Monto Medicos</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                  </tr>
                  <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                      </tr>
                      <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                        </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                  </tr>
                  <tr>
                      <th scope="row">Total</th>
                      <td>5.000</td>
                    </tr>
                </tbody>
              </table>
          </div>
        </div>
        </div>
      </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>