<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-table"></i> Arbitros y Medicos</div>
  <div class="card-body">
    <div class="table-responsive">
      <div class="btn-group">
        <div class="col-6">
          <select class="form-control"   (change)="filterChanged($event.target.value)">
            <option value="106" data-color="#A0522D" *ngFor="let type of filterTypes" [value]="type.value">{{type.display}}
            </option>
          </select>
        </div>
        <div class="col-6">
          <select class="form-control"   (change)="filterChanged($event.target.value)">
            <option value="106" data-color="#A0522D" *ngFor="let type of cate" [value]="type.value">{{type.display}}
            </option>
          </select>
        </div>
        <div class="col-6">
          <select class="form-control"   (change)="filterChanged($event.target.value)">
            <option value="106" data-color="#A0522D" *ngFor="let type of liga" [value]="type.value">{{type.display}}
            </option>
          </select>
        </div>
      </div>
      <br>
      <br>
      <div>
        <i class="fa fa-table"></i> Agregar Datos</div>
      <br>
      <section class="createArbitro">
        <form [formGroup]="arbitroForm" (ngSubmit)="onSubmitArbitro()" #arbitroFormId="ngForm">
          <div class="form-row">
            <div class="col-6">
              <input for="nombre" class="form-control" placeholder="Nombre" name="nombre" formControlName="nombre">
            </div>
            <br>
            <br>
            <div class="col-6">
              <input for="apellido" class="form-control" placeholder="Apellido" name="apellido" formControlName="apellido">
            </div>
          </div>
          <br>
          <br>
          <div class="form-row">
            <div class="col-6">
              <input for="mail" class="form-control" placeholder="Mail" name="mail" formControlName="mail">
            </div>
            <br>
            <br>
            <div class="col-6">
              <input for="fechanacimiento" class="form-control" placeholder="Fecha de nacimiento" name="fechanacimiento" formControlName="fechanacimiento">
            </div>
          </div>
          <br>
          <br>
          <div class="form-row">
            <div class="col-6">
              <input for="montoA" class="form-control" placeholder="Monto Arbitros" name="montoA" formControlName="montoA">
            </div>
            <br>
            <br>
            <div class="col-6">
              <input for="montoM" class="form-control" placeholder="Monto Medicos" name="montoM" formControlName="montoM">
            </div>
            <br>
            <br>
            <br>
            <br>
          </div>
          <br>
          <br>
          <button type="submit" class="btn btn-outline-success">Confirmar</button>
          <!-- Button trigger modal --
          <!-- Modal -->
        </form>
      </section>
      <br>
      <br>
      <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Mail</th>
          <th scope="col">Fecha de nacimiento</th>
          <th scope="col">Monto Arbitros</th>
          <th scope="col">Monto Medicos</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let am of arbitros, let i = index;">
          <td>{{am?.nombre}}</td>
          <td>{{am?.apellido}}</td>
          <td>{{am?.mail}}</td>
          <td>{{am?.fechanacimiento}}</td>
          <td>{{am?.montoA}}</td>
          <td>{{am?.montoM}}</td>
          <td class="text-center">
            <button class="btn btn-warning" (click)="detalleJugador(i, am?.id)">
              <i class="fa fa-th-list"></i>
            </button>
          <td class="text-center">
            <button class="btn btn-danger" (click)="deleteArbitro(i, am?.id)">
              <i class="fa fa-trash"></i>
            </button>
          </td>

          <td class="text-center">
            <button class="btn btn-warning" (click)="editJugador(i, am?.id)">
              <i class="fa fa-pencil"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
