<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-table"></i> Detalle Jugador</div>
  <div class="card-body">
    <div class="table-responsive">
      <br>
      <h4>N° Socio: {{jugador?.nsocio}}</h4>
      <br>
      <h4>Categoria: 2002</h4>
      <br>
      <h4>Nombre: {{jugador?.nombre}}</h4>
      <br>
      <h4>Apellido: {{jugador?.apellido}}</h4>
      <br>
      <h4>Telefono: {{jugador?.telefono}}</h4>
      <br>
      <h4>Mail: {{jugador?.mail}}</h4>
      <div>
      <br>
      <section class="createJugador">
      </section>
    </div>
      <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Mes</th>
          <th scope="col">Fecha de pago</th>
          <th scope="col">Monto</th>
          <th scope="col">Deuda</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><i>Enero</i></td>
          <td>{{jugador?.fechapago}}</td>
          <td>{{jugador?.pago}}</td>
          <td>{{jugador?.pago}}</td>
        </tr>
        </tbody>
      </table>
  </div>
</div>
