<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-table"></i> Pagos de Jugadores</div>
  <div class="card-body">
    <div class="table-responsive">
      <div class="btn-group">
        <div class="col-6">
          <select class="form-control"   (change)="filterChanged($event.target.value)">
          <option value="106" data-color="#A0522D" *ngFor="let type of filterTypes" [value]="type.value">{{type.display}}
          </option>
        </select>
        </div>
        <div class="col-7">
        <select class="form-control"   (change)="filterChanged($event.target.value)">
          <option value="106" data-color="#A0522D" *ngFor="let type of cate" [value]="type.value">{{type.display}}
          </option>
        </select>
        </div>
      </div>
      <br>
      <br>
      <div>
        <i class="fa fa-table"></i> Agregar Jugador</div>
      <br>
      <section class="createJugador">
        <form [formGroup]="jugadorForm" (ngSubmit)="onSubmitJugador()" #jugadorFormId="ngForm">
          <div class="form-row">
            <div class="col-6">
              <input  for="nsocio" class="form-control" placeholder="N° Socio" name="nsocio" formControlName="nsocio">
            </div>
            <br>
            <br>
            <div class="col-6">
              <input for="nombre" class="form-control" placeholder="Nombre" name="nombre" formControlName="nombre">
            </div>
          </div>
          <br>
          <br>
          <div class="form-row">
            <div class="col-6">
              <input for="apellido" class="form-control" placeholder="Apellido" name="apellido" formControlName="apellido">
            </div>
            <br>
            <br>
            <div class="col-6">
              <input for="telefono" class="form-control" placeholder="Telefono" name="telefono" formControlName="telefono">
            </div>
          </div>
          <br>
          <br>
          <div class="form-row">
            <div class="col-6">
              <input for="fechapago" class="form-control" placeholder="Fecha de Pago" name="fechapago" formControlName="fechapago">
            </div>
            <br>
            <br>
            <div class="col-6">
              <input for="observacion" class="form-control" placeholder="Observacion" name="observacion" formControlName="observacion">
            </div>
          </div>
          <br>
          <br>
          <div class="form-row">
            <div class="col-6">
              <input for="planillaMed" class="form-control" placeholder="Planilla Medica" name="planillaMed" formControlName="planillamed">
            </div>
            <br>
            <br>
            <div class="col-6">
              <input for="mail" class="form-control" placeholder="Mail" name="mail" formControlName="mail">
            </div>
            <br>
            <br>
            <br>
            <br>
            <div class="col-6">
              <input for="pago" class="form-control" placeholder="Pago" name="pago" formControlName="pago">
            </div>
          </div>
          <br>
          <br>
          <button type="submit" class="btn btn-outline-success">Confirmar</button>
          <!-- Button trigger modal --
          <!-- Modal -->
        </form>
      </section>
      <br>
      <br>
      <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
          <th scope="col">N° Socio</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Telefono</th>
          <th scope="col">Fecha de Pago</th>
          <th scope="col">Observacion</th>
          <th scope="col">Planilla Medica</th>
          <th scope="col">Mail</th>
          <th scope="col">Pago</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let rec of jugadores, let i = index;">
          <td scope="row">{{rec?.nsocio}}</td>
          <td>{{rec?.nombre}}</td>
          <td>{{rec?.apellido}}</td>
          <td>{{rec?.telefono}}</td>
          <td>{{rec?.fechapago}}</td>
          <td>{{rec?.observacion}}</td>
          <td>{{rec?.planillamed}}</td>
          <td>{{rec?.mail}}</td>
          <td>{{rec?.pago}}</td>
          <td class="text-center">
            <button class="btn btn-warning" (click)="detalleJugador(i, rec?.id)">
              <i class="fa fa-th-list"></i>
            </button>
          <td class="text-center">
            <button class="btn btn-danger" (click)="deleteJugador(i, rec?.id)">
              <i class="fa fa-trash"></i>
            </button>
          </td>

          <td class="text-center">
            <button class="btn btn-warning" (click)="editJugador(i, rec?.id)">
              <i class="fa fa-pencil"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
