<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-table"></i> Pagos de Jugadores</div>
  <div class="card-body">
    <div class="table-responsive">
      <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mes: Enero
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Febrero</a>
          <a class="dropdown-item" href="#">Marzo</a>
          <a class="dropdown-item" href="#">Abril</a>
        </div>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categoria 2002
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Febrero</a>
          <a class="dropdown-item" href="#">Marzo</a>
          <a class="dropdown-item" href="#">Abril</a>
        </div>
      </div>
      <br>
      <br>
      <div>
        <i class="fa fa-table"></i> Agregar Jugador</div>
      <br>
      <form #jugador>
        <div class="form-row">
          <div class="col-6">
            <input type="text" class="form-control" placeholder="N° Socio">
          </div>
          <br>
          <br>
          <div class="col-6">
            <input type="text" class="form-control" placeholder="Fecha de Pago">
          </div>
        </div>
        <br>
        <br>
        <div class="form-row">
          <div class="col-6">
            <input type="text" class="form-control" placeholder="Nombre">
          </div>
          <br>
          <br>
          <div class="col-6">
            <input type="text" class="form-control" placeholder="Telofono">
          </div>
        </div>
        <br>
        <br>
        <div class="form-row">
          <div class="col-6">
            <input type="text" class="form-control" placeholder="Apellido">
          </div>
          <br>
          <br>
          <div class="col-6">
            <input type="text" class="form-control" placeholder="Observacion">
          </div>
        </div>
        <br>
        <br>
        <div class="form-row">
          <div class="col-6">
            <input type="text" class="form-control" placeholder="Pago">
          </div>
          <br>
          <br>
          <div class="col-6">
            <input type="text" class="form-control" placeholder="Planilla Medica">
          </div>
        </div>
        <br>
        <br>
        <button type="button" class="btn btn-outline-success"(click)="myEvent($event)">Confirmar</button>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModalLong">Planilla Medica</button>
              <!-- Modal -->
              <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">LAUTI PUTO</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
      </form>
      <br>
      <br>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">N° Socio</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Telefono</th>
            <th scope="col">Fecha de Pago</th>
            <th scope="col">Observacion</th>
            <th scope="col">Planilla Medica</th>
            <th scope="col">Mail</th>
            <th scope="col">Pago</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rec of jugadores">
            <td scope="row">{{rec.nsocio}}</td>
            <td>{{rec.nombre}}</td>
            <td>{{rec.apellido}}</td>
            <td>{{rec.telofono}}</td>
            <td>{{rec.fechapago}}</td>
            <td>{{rec.observacion}}</td>
            <td>{{rec.planillamed}}</td>
            <td>{{rec.mail}}</td>
            <td>{{rec.pago}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>