      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Ingresos de Partidos - Sabados</div>
        <div class="card-body">
          <div class="table-responsive">
              <div class="btn-group">
                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mes: Enero
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Febrero</a>
                    <a class="dropdown-item" href="#">Marzo</a>
                    <a class="dropdown-item" href="#">Abril</a>
                  </div>
              </div>
              <div class="btn-group">
                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Semana: 1
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Febrero</a>
                    <a class="dropdown-item" href="#">Marzo</a>
                    <a class="dropdown-item" href="#">Abril</a>
                  </div>
              </div>
              <div class="btn-group">
                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Liga: LIFIPA
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Febrero</a>
                    <a class="dropdown-item" href="#">Marzo</a>
                    <a class="dropdown-item" href="#">Abril</a>
                  </div>
              </div>
              <br>
              <br>
               <div><i class="fa fa-table"></i> Agregar Montos</div>
               <br>
               <form class="form-header" action="/action_page.php">
                <label for="nombre">Estacionamiento Monto</label>
                <input type="nombre" class="form-control" id="Estacionamiento">
                <label for="apellido">Entradas Monto</label>
                <input type="nombre" class="form-control" id="Entradas">
                <div class="form-check">
                </div>
                 <button type="button" class="btn btn-outline-success">Confirmar</button>
               </form>
               <br>
               <br>
               <table class="table">
                  <thead class="thead-dark">
                <tr>
                  <th scope="col">Estacionamiento Monto</th>
                  <th scope="col">Entradas Monto</th>
                </tr>
              </thead>
              <tfoot>
              </tfoot>
              <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                  </tr>
                  <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                      </tr>
                      <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                        </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                  </tr>
                  <tr>
                      <th scope="row">Total</th>
                      <td>5.000</td>
                    </tr>
                </tbody>
              </table>
          </div>
        </div>
        <br>
        <br>
        <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-bar-chart"></i> Estadisticas de Ingresos por Partidos - Sabados</div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-8 my-auto">
                <app-chart></app-chart>
              </div>
              <div class="col-sm-4 text-center my-auto">
                <div class="h4 mb-0 text-danger">$34,693</div>
                <div class="small text-muted">Estacionamiento</div>
                <hr>
                <div class="h4 mb-0 text-info">$18,474</div>
                <div class="small text-muted">Entradas</div>
                <hr>
                <div class="h4 mb-0 text-warning">$16,219</div>
                <div class="small text-muted">Total</div>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Ingresos de Partidos - Domingos</div>
        <div class="card-body">
          <div class="table-responsive">
              <div class="btn-group">
                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mes: Enero
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Febrero</a></li>
                    <li><a href="#">Febrero</a></li>
                    <li><a href="#">Febrero</a></li>
                  </ul>
              </div>
              <div class="btn-group">
                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Semana: 1
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Febrero</a>
                    <a class="dropdown-item" href="#">Marzo</a>
                    <a class="dropdown-item" href="#">Abril</a>
                  </div>
              </div>
              <div class="btn-group">
                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Liga: LIFIPA
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Febrero</a>
                    <a class="dropdown-item" href="#">Marzo</a>
                    <a class="dropdown-item" href="#">Abril</a>
                  </div>
              </div>
              <br>
              <br>
               <div><i class="fa fa-table"></i> Agregar Montos</div>
               <br>
               <form class="form-header" action="/action_page.php">
                  <label for="nombre">Estacionamiento</label>
                  <input type="nombre" class="form-control" id="Estacionamiento">
                  <label for="apellido">Entradas</label>
                  <input type="nombre" class="form-control" id="Entradas">
                  <div class="form-check">
                  </div>
                 <div class="form-check">
                 </div>
                 <button type="button" class="btn btn-outline-success">Confirmar</button>
               </form>
               <br>
               <br>
               <table class="table">
                  <thead class="thead-dark">
                <tr>
                  <th scope="col">Estacionamiento</th>
                  <th scope="col">Entradas</th>
                </tr>
              </thead>
              <tfoot>
              </tfoot>
              <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                  </tr>
                  <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                      </tr>
                      <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                        </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                  </tr>
                  <tr>
                      <th scope="row">Total</th>
                      <td>5.000</td>
                    </tr>
                </tbody>
              </table>
          </div>
        </div>
        <br>
        <br>
        <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-bar-chart"></i> Estadisticas de Ingresos por Partidos - Domingos</div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-8 my-auto">
                <app-chart2></app-chart2>
              </div>
              <div class="col-sm-4 text-center my-auto">
                <div class="h4 mb-0 text-danger">$34,693</div>
                <div class="small text-muted">Estacionamiento</div>
                <hr>
                <div class="h4 mb-0 text-info">$18,474</div>
                <div class="small text-muted">Entradas</div>
                <hr>
                <div class="h4 mb-0 text-warning">$16,219</div>
                <div class="small text-muted">Total</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->

    <!-- Scroll to Top Button-->
    <!-- Logout Modal-->