<html>
<head>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
</head>
<body>
<h2>Entradas y Estacionamiento</h2>

<table>
  <tr>
    <th>Entradas vendidas</th>
    <th>Monto Entradas</th>
    <th>Monto Estacionamiento</th>
    <th>Total</th>
  </tr>
  <tr>
    <td>50</td>
    <td>10.000</td>
    <td>5.000</td>
    <td>15.000</td>
  </tr>
</table>

</body>
</html>
